span.navbar-text {
    display: flex;
    justify-content: flex-start;
}

ul.navbar-nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.card-container {
    display: flex;
    justify-content: center;
    padding: 35px;
}

.card {
    width: 200px;
    height: auto;
    padding: 10px;
}