.navbar {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}
.navbar-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
}

ul.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li.nav-item {
    padding-left: 5px;
}

.card-container {
    display: flex;
    justify-content: center;
    padding: 35px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: auto;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-around;
}